html {
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
}
*{
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 420px) {
    a{
        font-size: 1.2rem; 
    }
} 
a{
    color: red;
    font-size: 1.9rem;
}
body{
    background: linear-gradient(112.1deg, rgb(44, 2, 2) 11.4%, rgb(0, 0, 0) 70.2%);
    color: #29a829;
}

.gradient-background {
    background: linear-gradient(112.1deg, rgb(44, 2, 2) 11.4%, rgb(0, 0, 0) 70.2%);
    color: red;
}

.class-done-button {
    overflow: auto;
    position: relative;
    color: red;
    background-color: black;
    margin-top: 2%;
    font-size: 1.9rem;
    border-radius: 0.6rem;
    width: 45%;
    height: 20%;
    font-weight: bold;
    opacity: 0.8;
}
.class-done-button:hover{
    color: red;
    background-color: rgb(32, 6, 6);
}

.class-textarea {
    position: relative;
    line-height: 1.4rem;
    word-wrap: break-word;
    width: 70%;
    height: 30%;
    font-size: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-left: 19px;
}

.container-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    word-spacing: 50px;
    font-size: 17px;
    height: 100vh;
    width: 100vw;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 44%;
    height: 50%;
    border-radius: 20px;
    background: linear-gradient(112.1deg, rgb(34, 26, 10) 11.4%, rgb(1, 6, 24) 70.2%);
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}
.container-1::before {
    content: "";
    position: absolute;
    background-image: url('images/bg3.jpg');
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.span-tag{
    font-weight: bold;
    color: green;
    font-size: 1.4rem;
}
#id-span1{
    position: absolute;
    left: 2%;
    top: 5%;
}
#id-span2{
    position: absolute;
    left: 34%;
    top: 10%;
}
#id-span3{
    position: absolute;
    left: 7%;
    top: 26%;
}
#id-span4{
    position: absolute;
    right: 2%;
    top: 35%;
}
#id-span5{
    position: absolute;
    left: 18%;
    top: 47%;
}
#id-span6{
    position: absolute;
    left: 1%;
    top: 54%;
}
#id-span7{
    position: absolute;
    right: 1%;
    top: 63%;
}
#id-span8{
    position: absolute;
    left: 20%;
    top: 71%;
}
#id-span9{
    position: absolute;
    right: 10%;
    top: 77%;
}
#id-span10{
    position: absolute;
    left: 3%;
    top: 87%;
}
